<h1>
    My Watchlist
</h1>
<div class="gridContainer">

    <!-- TABLE -->
    <table class="myTable gridItem1">
        <thead>
            <tr>
                <th *ngFor="let col of columns">
                    {{ col }}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let stock of tabledata" (click)="onClick(stock.CompanyName)">
                <th>
                    {{ stock.CompanyName }}
                </th>
                <td>
                    ₹{{ stock.MarketPrice | number:'1.2-2' }}
                    <div [ngClass]="{'negative': stock.PnLValue < 0, 'positive': stock.PnLValue > 0}">
                        {{ stock.PnLValue | number:'1.2-2' }}&nbsp;({{ stock.PnLPer | number:'1.2-2' }})
                    </div>
                </td>
                <td>
                    ₹{{ stock.ClosePrice | number:'1.2-2' }}
                </td>
                <td>
                    ₹{{ stock.MarketCap | number }}
                </td>
            </tr>
        </tbody>
    </table>

    <!-- EXPANDED DETAILS -->
    <div *ngIf="currentCompanyName" class="gridItem2">
        <ng-container *ngFor="let allData of tabledata">
            <ng-container *ngIf="allData.CompanyName == currentCompanyName">
                <div class="titleGrid">
                    <div>
                        <h1 style="display: inline-block;">{{ allData.CompanyName }}</h1>
                        <p class="ovalBadge">{{ allData.EmployeeCount | number:'1.0-2'}}&nbsp;<fa-icon [icon]="faUserFriends"></fa-icon>
                        </p>
                    </div>
                    <div>
                        <h1>₹{{ allData.MarketPrice | number:'1.2-2' }}</h1>
                        <p [ngClass]="{'negative': allData.PnLValue < 0, 'positive': allData.PnLValue > 0}">
                            {{ allData.PnLValue | number:'1.2-2' }}&nbsp;({{ allData.PnLPer | number:'1.2-2' }})<span style="color: #aaaaaa;">1D</span>
                        </p>
                    </div>
                </div>
                <h2>Performance</h2>
                <div class="performanceGrid">
                    <div class="box1">
                        <h3>Today's Low</h3>
                        <p>₹{{ allData.TodaysDLow | number:'1.2-2' }}</p>
                    </div>
                    <div class="box2">
                        <h3>Today's High</h3>
                        <p>₹{{ allData.TodaysDHigh | number:'1.2-2' }}</p>
                    </div>
                    <div class="box1">
                        <h3>52W Low</h3>
                        <p>₹{{ allData['52WLow'] | number:'1.2-2' }}</p>
                    </div>
                    <div class="box2">
                        <h3>52W High</h3>
                        <p>₹{{ allData['52WHigh'] | number:'1.2-2' }}</p>
                    </div>
                    <div>
                        <h3>Open Price</h3>
                        <p> ₹{{ allData.OpenPrice | number:'1.2-2' }}</p>
                    </div>
                    <div>
                        <h3>Prev. Close</h3>
                        <p>₹{{ allData.PreClose | number:'1.2-2' }}</p>
                    </div>
                    <div>
                        <h3>Volume</h3>
                        <p>{{ allData.Volume | number:'1.0-2' }}</p>
                    </div>
                    <div>
                        <h3>Value</h3>
                        <p>{{ allData.Value }}</p>
                    </div>
                </div>
                <h2>Company Statistics</h2>
                <div class="companyGrid">
                    <div>
                        <h3>Market Cap</h3>
                        <p>₹{{ allData.MarketCap | number:'1.0-2'}}</p>
                    </div>
                    <div>
                        <h3>P/B Ratio</h3>
                        <p>{{ allData.PBRatio }}</p>
                    </div>
                    <div>
                        <h3>P/E Ratio</h3>
                        <p>{{ allData.PERatio }}</p>
                    </div>
                    <div>
                        <h3>Industry P/E</h3>
                        <p>{{ allData.IndustryPE }}</p>
                    </div>
                    <div>
                        <h3>Div. Yield</h3>
                        <p>{{ allData.DivYield | number:'1.2-2'}}%</p>
                    </div>
                    <div>
                        <h3>Book Value</h3>
                        <p>₹{{ allData.BookValue | number:'1.2-2'}}</p>
                    </div>
                    <div>
                        <h3>EPS(TTM)</h3>
                        <p>₹{{ allData.EPS }}</p>
                    </div>
                    <div>
                        <h3>ROE</h3>
                        <p>{{ allData.ROE }}%</p>
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </div>
</div>